.card {
    width: 380px;
    max-width: calc(100vw - 2rem);
    align-self: flex-start;
}

.card .cardImg {
    width: 100%;
    aspect-ratio: 9/5;
    border-radius: .5em;
    object-fit: cover;
    cursor: pointer;
}


.cardContent {
    padding: .5em 1em;
    position: relative;
}

.title {
    font-weight: 500;
    padding: .5em 0;
    display: block;
}

.stats {
    display: flex;
    list-style: none;
    padding: 0;
}

.stats li {
    color: var(--clr-gray);
    font-size: .9rem;
    margin-right: .5em;
}

.dropDownWrapper {
    position: absolute;
    top: 1rem;
    right: 10px;
}

.videoCardFuncBtn {
    aspect-ratio: 1/1;
    color: var(--clr-light);
    font-size: 1.2rem;
    background: transparent;
    border-radius: 50px;
    border: 0;
    cursor: pointer;
}

@media (width>600px) {


    .card:hover .videoCardFuncBtn {
        display: block;
    }

    .videoCardFuncBtn:hover {
        background-color: var(--clr-dark);

    }
}