.card {
    position: relative;
    width: 350px;
    max-width: 100%;
    align-self: flex-start;
    border-radius: 1em;
    margin: 1em;
    position: relative;
}

.card .cardImg {
    height: 175px;
    width: 100%;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    object-fit: cover;
}

.cardContent {
    padding: .5em 1em;
}

.title {
    font-weight: 500;
    padding: .5em 0;
    display: block;
}

.stats {
    display: flex;
    list-style: none;
    padding: 0;
}

.stats li {
    color: var(--clr-gray);
    font-size: .9rem;
    margin-right: .5em;
}

.dropDownWrapper {
    position: absolute;
    top: calc(175px + 1.5rem);
    right: 10px;
}

.videoCardFuncBtn {
    height: 40px;
    width: 40px;
    background: transparent;
    border-radius: 50px;
    border: 0;
    cursor: pointer;
}

.videoCardFuncBtn>img {
    max-height: 100%;
}

@media (width>600px) {
    .card:hover {
        box-shadow: 5px 5px var(--clr-light);
        transition: .1s ease-in;
        transform: translate(-5px, -5px);
        cursor: pointer;
        z-index: 10;
    }

    .card:hover .videoCardFuncBtn {
        display: block;
    }

    .videoCardFuncBtn:hover {
        background-color: var(--clr-dark);

    }
}