.filterBtn {
    width: fit-content;
    color: var(--clr-light);
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 2rem;
    text-overflow: ellipsis;
    border: 1px solid var(--clr-light);
    border-radius: .6em;
    text-transform: uppercase;
    padding: 0 .5em;
    margin-left: .8em;
    background-color: var(--clr-dark);
    cursor: pointer;
}

.filterBtn:disabled {
    cursor: not-allowed;
}

.filterBtn:hover {
    background-color: var(--clr-theme);
    transition: .2s ease-in;
}

.filterBtn:global(.selected) {
    background-color: var(--clr-theme);
}