.button {
    color: var(--crl-light);
    text-decoration: none;
    letter-spacing: 2px;
    padding: .5em 1em;
    display: flex;
    align-items: center;
    background-color: transparent;
    border: none;
    border-radius: .3em;
    cursor: pointer;
    overflow: hidden;
}

.button>img {
    max-height: 35px;
}

.button:global(.button--primary) {
    background-color: var(--clr-theme);
    border: 2px solid var(--clr-theme);
}

.button:global(.button--secondary) {
    border: 2px solid var(--clr-theme);
}

.button:global(.button--functional) {
    background-color: var(--clr-dark);
    border-radius: 2em;
    display: flex;
    align-items: center;
    font-size: .9rem;
}

.button:global(.button--functional)>img {
    height: 30px;
    margin-right: .5em;
    display: inline-block;
}

.button:global(.button--functional):hover {
    background-color: var(--clr-gray);
}

.button:global(.button--submit) {
    width: 100%;
    background-color: var(--clr-theme);
}

.button:global(.button--circle) {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--clr-theme);
}

.button:global(.button--square) {
    width: 50px;
    height: 50px;
    background-color: var(--clr-theme);
}

.button:global(.button--submit):active {
    transform: scale(.95);
}

.button:hover {
    background-color: var(--clr-theme-dark);
}

.button:disabled {
    cursor: not-allowed;
    opacity: .7;
}

@media (max-width:600px) {

    .button:global(.button--functional)>img {
        height: 20px;
    }

}