.modalWrapper {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0 0, 0, .8);
    z-index: 100;
}

.modalContainer {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 300px;
    max-width: 100%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    background-color: var(--clr-dark);
    padding: .5em;
    border-radius: .5em;
}

.closeModalBtn {
    position: absolute;
    right: .5em;
    top: .5em;
    height: 40px;
    width: 40px;
    background: transparent;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

.closeModalBtn:hover {
    background-color: var(--clr-very-dark);
}

.modalContainer>ul {
    list-style: none;
    padding: 0;
}

.modalContainer li {
    padding: .5em 1em;
    margin: .5em 0;
    cursor: pointer;
}

.modalContainer li:hover {
    background-color: var(--clr-very-dark);
}